body {
    margin: 0px;
    padding: 0px;
}

.glavaKolona {
    /*border: 1px solid black;*/
    margin: 0px auto;
    width: 1400px;
}

.header {
    border-bottom: 2px solid #2098e9;
    position: sticky;
    background-color: white;
}

.page {
    /* border: 1px solid black;*/
    height: 100vh;
}

.footer {
    height: 80px;
}

#topHeader {
    display: flex;
}

#logo {
    flex-grow: 1;
    padding: 5px;
}

#logo img {
    height: 60px;
}

#socialIcons {
    flex-grow: 1;
    text-align: right;
}

#socialIcons a {
    text-decoration: none;
}

#socialIcons a img {
    width: 24px;
    height: 24px;
    margin: 5px;
}

#main-menu {
    display: flex;
    justify-content: center;
}

#main-menu a {
    flex-grow: 1;
    text-align: center;
    display: block;
    padding: 20px 0px;
    text-decoration: none;
    color: #2098e9;
    transition: 250ms;
}

#main-menu a:hover,
#main-menu a.active {
    background-color: #2098e9;
    color: white;
    transition: 350ms;
}


/*Četvrto predavanje*/

#pocetna {
    height: 70vh;
    text-align: center;
    color: white;
    background: url('/asseet/pocetna.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#karijera {
    height: 70vh;
    background-color: aquamarine;
}

#onama {
    height: 70vh;
}


/*Klase opšte namjene*/

.align-center {
    text-align: center;
}

.krugovi {
    display: flex;
    margin: 30px 0px;
}

.krug-holder {
    flex-grow: 1;
    text-align: center;
}

.krug {
    background-color: red;
    /*width: 300px;
    height: 300px;*/
    padding: 25%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 48px;
    font-weight: bold;
    display: inline-block;
}

.oznaka {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.tehnologije {
    display: flex;
    text-align: center;
    margin: 30px 0px;
}

.tehologija {
    flex-grow: 1;
}

.tehologija img {
    width: 50px;
    height: 50px;
}

.tehologija p {
    font-weight: bold;
}


/*Peto predavanje */

#usluge {
    color: white;
    height: 50vh;
    background: url('/asseet/usluge.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#usluge h2 {
    padding-top: 40px;
}

.usluge-row {
    display: flex;
    margin: 40px;
    justify-content: space-between;
}

.usluge-row>div {
    text-align: center;
    width: 420px;
    height: 260px;
    position: relative;
    border: 1px solid white;
}

.usluge-row>div>img {
    width: 420px;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.usluge-row>div>p {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.636);
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid white;
}


/*Šesto predavanje */

#proizvodi h2 {
    padding-top: 50px;
    text-align: center;
}

.matrica {
    margin-top: 40px;
    height: 500px;
    display: grid;
    grid-gap: 10px;
    grid-template: "a b c" "d b e" "f f g";
    align-content: space-between;
    justify-content: space-between;
}

#proizvod-a {
    grid-area: a;
}

#proizvod-b {
    grid-area: b;
}

#proizvod-c {
    grid-area: c;
}

#proizvod-d {
    grid-area: d;
}

#proizvod-e {
    grid-area: e;
}

#proizvod-f {
    grid-area: f;
}

#proizvod-g {
    grid-area: g;
}

.proizvod {
    display: grid;
    grid-template: "region";
    align-content: stretch;
    justify-content: stretch;
}

.proizvod>img {
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;
    width: 150px;
    height: 150px;
}

span {
    grid-area: region;
}